[Dd]ebug/
[Oo]bj/
[Bb]in/
packages/
/Output/
*.suo
*.user
Src/Zion/OPCAgentSetup/OPCAgentSetup/Express/
Src/Zion/Zion.SchedulerServiceSetup/Zion.SchedulerServiceSetup/Express/
Src/Zion/Zion.Web/Uploads
Src/Zion/Zion.Web/ClientSettings/ClientSettings.xml
/Src/Zion/Zion.Web/www

Src/Zion/.vs/config/applicationhost.config
Src/Zion/.vs
/Src/ZionMobile/Zion.App/bld/
/Src/ZionMobile/Zion.sln.GhostDoc.xml
Src/ZionMobile/.vs/config/applicationhost.config
Src/ZionMobile/.vs

/Src/Zion/Zion.sln.GhostDoc.xml
Src/Zion/.vs/config/applicationhost.config
Src/Zion/.vs
/Src/ZionMobile/Zion.App/bld/
Src/ZionMobile/.vs/config/applicationhost.config
Src/ZionMobile/.vs
/Src/ZionMobile/Zion.App.sln.GhostDoc.xml

*.scgdat
